[Unit]
Description=samba container
Requires=docker.service mnt-nas.mount
After=docker.service mnt-nas.mount

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a samba
ExecStop=/usr/bin/docker stop samba

[Install]
WantedBy=default.target
